/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

/* TODO:
[] Figure out the MAIN elements of the page
[] Code them in CSS 
[] Apply proper spacing
[] Apply proper colors/fonts
[] Apply images
[] Double-check */

body {
    min-height: 100vh;
}


/******************************************
/* LAYOUT
/*******************************************/


body > div,
section,
.latest article > * {
    border: solid thin black;

}



/******************************************
/* HEADER
/*******************************************/

.navigation {
    height: 100vh;
    width: 15%;
    border: solid thin black;
    list-style: none;
    /* height: 500px; */
    float: left;
}

.navigation a {
    text-decoration: none;
}

.navigation .account li {
    padding: .5em 1em;
}

.navigation .account a+a {
    color: goldenrod;
}

.navigation .navlinks li {
    margin-top: 5%;
    padding: .5em 1em;
}

header img {
    width: 30%;
}


/******************************************
/* MAIN
/*******************************************/

div.main {
    width: 85%;
    float: left;
}

div.main .left, div .right {
    float: left;
}

div.main .left {
    width: 60%;
}

div.main .right {
    width: 40%;
}

div.main .left > img {
    width: 60%;
}


/******************************************
/* LATEST
/*******************************************/

div.latest article > * {
    width: 28.33%;
    float: left;

}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
